---
import {Icon} from 'astro-icon'

const features = [
  {
    name: 'Derecho civil',
    description:
      'El Código Civil comprende las disposiciones legales sustantivas que determinan especialmente los derechos de los particulares, por razón del estado de las personas, de sus bienes, obligaciones, contratos y acciones civiles.',
    icon: 'ic:outline-people'
  },
  {
    name: 'Derecho penal',
    description:
      'Es la rama del derecho público encargada de regular, castigar y establecer penas para aquellas personas naturales (civiles), que atentan y violentan contra las normas de convivencia o de conducta hacia otros sujetos o la nación',
    icon: 'ic:outline-view-column'
  },
  {
    name: 'Derecho comercial',
    description:
      'El Derecho Comercial es el ordenamiento jurídico que regula las relaciones jurídicas que surgen en torno de la empresa como elemento generador de riqueza patrimonial para los sujetos que involucra, como son los inversionistas, las sociedades, el empresario, el consumidor, el Estado, los trabajadores y su desarrollo dentro del mercado nacional e internacional.',
    icon: 'ic:outline-corporate-fare'
  },
  {
    name: 'Derecho laboral',
    description:
      'El derecho laboral incluye todo, desde la contratación de recursos, la conducta, la promoción y las quejas en el lugar de trabajo hasta la terminación del empleo, ya sea voluntaria o forzada.',
    icon: 'ic:outline-engineering'
  }
]
---

<div class='bg-gray-100 py-12 dark:bg-gray-800'>
  <div class='mx-auto max-w-7xl px-4 sm:px-6 lg:px-8'>
    <div class='lg:text-center'>
      <h2
        class='text-base font-semibold uppercase tracking-wide text-sky-800 dark:text-sky-300'
      >
        Lo que hacemos
      </h2>
      <p
        class='mt-2 text-3xl font-extrabold leading-8 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl'
      >
        Nuestras prácticas
      </p>
      <p class='mt-4 max-w-2xl text-xl text-gray-600 dark:text-gray-300 lg:mx-auto'>
        Martínez Filoz & Asociados ofrece un servicio individualizado respaldado por los recursos necesarios para representar a nuestros clientes de manera eficiente y creativa. La amplitud de servicios ofrecidos por Martínez Filoz & Asociados elimina el dolor de cabeza de tener que manejar múltiples abogados, consultores y firmas externas para satisfacer sus necesidades legales y legislativas. Le invitamos a explorar cómo podemos poner nuestros recursos a trabajar para usted.
      </p>
    </div>
  
    <div class='mt-10'>
      <dl class='space-y-10 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10 md:space-y-0'>
        {
          features.map((feature) => (
            <div class='relative'>
              <dt>
                <div class='absolute flex h-12 w-12 items-center justify-center rounded-md bg-sky-500 text-white dark:bg-sky-400 dark:text-black'>
                  <Icon
                    class='h-6 w-6'
                    aria-hidden='true'
                    name={feature.icon}
                  />
                </div>
                <p class='ml-16 text-lg font-medium leading-6 text-gray-900 dark:text-gray-200'>
                  {feature.name}
                </p>
              </dt>
              <dd class='ml-16 mt-2 text-base text-gray-600 dark:text-gray-400'>
                {feature.description}
              </dd>
            </div>
          ))
        }
      </dl>
    </div>
  </div>
</div>
