---
import Lightbox from './lightbox.astro'

export interface Props {
  images: ImageMetadata[]
}

const { images } = Astro.props
---

<p class='text-sm italic text-gray-500'>
  Haga clic en cualquier foto para verla en un lightbox. Utilice las flechas o deslice el dedo para
  navegar.
</p>
<div id='images' class='not-prose block w-full' itemscope itemtype='http://schema.org/ImageGallery'>
  <Lightbox id='images' images={images} />
</div>
