---
---
<div
  class="prose dark:prose-invert max-w-screen-lg 
  prose-h1:font-bold prose-h1:text-xl 
  prose-a:text-blue-600 prose-p:text-wrap-pretty prose-img:rounded-xl
  prose-headings:underline">
  <slot />
</div>