---
import { getShareUrl } from '../js/share'
import {Icon} from 'astro-icon/components'
---

<div class='flex flex-wrap justify-end'>
  <span class='mr-1 font-medium text-slate-700 dark:text-slate-300'>Compartir:</span>
  <a href={getShareUrl('facebook', Astro.url)} target='_blank' rel='noopener'>
    <Icon name='facebook' width={35} height={35} />
  </a>

  <a
    href={getShareUrl('twitter', Astro.url, 'Check out this blog post!')}
    target='_blank'
    rel='noopener'
  >
    <Icon name='x' width={35} height={35} />
  </a>

  <a
    href={getShareUrl('linkedin', Astro.url, 'Check out this blog post!')}
    target='_blank'
    rel='noopener'
  >
    <Icon name='linkedin' width={35} height={35} />
  </a>

  <a
    href={getShareUrl('whatsapp', Astro.url, 'Check out this blog post!')}
    target='_blank'
    rel='noopener'
  >
    <Icon name='whatsapp' width={35} height={35} />
  </a>

  <a
    href={getShareUrl('email', Astro.url, 'Check out this blog post!')}
    target='_blank'
    rel='noopener'
  >
    <Icon name='mail' width={35} height={35} />
  </a>
</div>
